# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Desktop/App/Client_x86_release.ipdb
/Desktop/App/Client_x86_release.iobj
/Desktop/App/Client_x86_debug.ilk
/Desktop/App/Client_x64_release.ipdb
/Desktop/App/Client_x64_release.iobj
/Desktop/App/Client_x64_debug.ilk
/Desktop/Client/Debug
/Desktop/Client/Release
/Desktop/Client/x64
/Desktop/Client/.vs/Client/v14/.suo
*.db
/Desktop/DLL/RadialDevice_x86_release.ipdb
/Desktop/DLL/RadialDevice_x86_release.iobj
/Desktop/DLL/RadialDevice_x86_debug.ilk
/Desktop/DLL/RadialDevice_x64_release.ipdb
/Desktop/DLL/RadialDevice_x64_release.iobj
/Desktop/DLL/RadialDevice_x64_debug.ilk
/Desktop/lib/RadialDevice_x86_release.exp
/Desktop/lib/RadialDevice_x86_debug.exp
/Desktop/lib/RadialDevice_x64_release.exp
/Desktop/lib/RadialDevice_x64_debug.exp
/Desktop/RadialDevice/Debug
/Desktop/RadialDevice/.vs/RadialDevice/v14
/Desktop/RadialDevice/Release
/Desktop/RadialDevice/x64/Debug
/Desktop/RadialDevice/x64/Release/RadialDevice.tlog
/Desktop/RadialDevice/x64/Release
/Desktop/symbols/RadialDevice_x86_release.pdb
/Desktop/symbols/RadialDevice_x86_debug.pdb
/Desktop/symbols/RadialDevice_x64_release.pdb
/Desktop/symbols/RadialDevice_x64_debug.pdb
/Desktop/symbols/Client_x86_release.pdb
/Desktop/symbols/Client_x86_debug.pdb
/Desktop/symbols/Client_x64_release.pdb
/Desktop/symbols/Client_x64_debug.pdb
